.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header_block
{
	width:65%;
	height:180px;
	margin: 15px auto 20px;
	box-shadow: 1px 1px 10px #888888;
    background-color: #ffffff;
	align-content: center;
}



.headerText
{
	width:100%;
	padding: 10px;
	float: left;
	text-align: center;
}


.headerText span
{
	width:100%;
	font-family: "Calibri", Georgia, Serif, serif;
	font-size: 2em;
	float: left;
	text-align: center;
	letter-spacing: 2px;
}

#introBackground{
    background-color: #eaeaea;
}

.vertical-center {
  min-height: 10%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 10vh;
 /* max-width: 400px; */
  display: flex;
  align-items: center;
}

.theContainer{
	float:left;
}

.listContainer{
	    float: left;
    z-index: 3;
    display: table-footer-group;
    padding-left: 140px;
    margin: auto;
}

.mainContainer{
 max-width: 1000px;
margin: auto;

} 


@media (min-width: 576px) {
  .bodyContainer {
    max-width: 530px;
  }
}


.parent_container input[type="radio"]
{
	cursor:pointer;
}

.parent_container .mainBody span{
	width: 100%;
	font-family: "Calibri", Georgia, Serif, serif;
    font-size: 2em;
    float: left;
    text-align: left;
	color: black;
	padding: 2em 10px 10px;
	/*display: show; */
}

.parent_container .mainBody span:last-child{
	width: 100%;
	font-family: "Calibri", Georgia, Serif, serif;
    font-size: 1.3em;
    float: left;
    text-align: left;
	color: black;
	padding: 3PX 10px 10px;
}
.parent_container .intro
{
	width:100%;
	padding: 10px;
	margin-top: 5px;
	float: left;
	text-align: center;
}

.parent_container .intro span
{
	width:100%;
	font-family: "Calibri", Georgia, Serif, serif;
	font-size: 1.5em;
	float: left;
	text-align: center;
	letter-spacing: 2px;
}

.parent_container .intro span:last-child
{
	width:100%;
	font-family: "Calibri", Georgia, Serif, serif;
	font-size: 1em;
	float: left;
	text-align: center;
	padding:10px 10px 10px 10px;
	color: #62656b;
letter-spacing: 5px;	
}
.parent_container .intro .mainQuestion
{
   width:100%;
	font-family: "Calibri", Georgia, Serif, serif;
	font-size: 2em;
	float: left;
	text-align: left;
	padding:20px 10px 10px 10px; 
}

#movie_ribbon
{
	width:80%;
	margin:auto;
}

#movie_ribbon_choices 
{
	width: 72%;
	margin: auto; 
}
.parent_container .block_holder
{
	width:80em;
	padding:0 7px 7px 7px;
	box-shadow: 1px 1px 10px #888888;
    background-color: #ffffff;
	height:470px;
	margin: auto;
	
}

.parent_container .survey_block_holder {
	width:80em;
	padding:0 7px 7px 7px;
	box-shadow: 1px 1px 10px #888888;
    background-color: #ffffff;
	height:550px;
	margin: auto;
}

.parent_container .movieHolder
{
	float:left;
	width:100em;
	padding:0 7px 7px 7px;
	box-shadow: 1px 1px 10px #888888;
    background-color: #ffffff;
	height:630px;
	margin: auto;
}

.parent_container .prefHolder
{
	width:100em;
	padding:0 7px 7px 7px;
	box-shadow: 1px 1px 10px #888888;
    background-color: #ffffff;
	height:250px;
	margin: auto;
}

.parent_container .movie-block
{	
	width: 15%;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 30px; 
	cursor: pointer;
	 display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-around;
}

.parent_container .movie-block .wrapper-block
{
	float:left;
	width:100%;
}

.parent_container .movie-block .img-block
{
	float:left;
	width:100%;
}

.parent_container .movie-block .img-block img
{
	width:100%;
	height:180px;
}

.parent_container .movie-block .row_holder
{
	margin: auto;
	display: block;
	float:left;
	width:100%;
}

/*image opacity on hover for preference page*/
.container {
	max-width: 270px;
	height: 80%;
	margin-right: auto;
	margin-left: auto;
	background-size: cover;
	padding: 0;
	/* position: relative; */
    /* width: 100%; */
	/* align-content: center; */
	/* margin: auto; */
	/* display: inline-flex;  */
	/* padding-left: 9px; */
}

.container:hover .overlay{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.8;
}

.container:hover .star-div{
	z-index: 2;
	display: flex;
}
/*.container:hover > .overlay {*/
/*	width:100%;*/
/*	height:100%;*/
/*	position:absolute;*/
/*	background-color:#000;*/
/*	opacity:0.5;*/
/*	!*border-radius:30px;*!*/
/*}*/

.imageTrans {
	/* margin:3px; */
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	overflow:hidden;
	position: relative;
}

.imageResize{
	color: #b43030;
	position: absolute;
	left: -50px;
	top: -50px;
}

.movieCardContainer {
	height: 270px;
	/*width: 180px;*/
	/*margin: 0 auto;*/
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  width: 120px;
  height: auto;
  /*top: 70%;*/
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .imageTrans {
  opacity: 0.5;
}

.container:hover .middle {
  opacity: 0.9;
}

.text {
	background-color: #357df2;
	color: white;
  font-size: 16px;
  /*padding: 3px 3px;*/
  text-align: center;
  vertical-align: middle;
  /*height: 10%;*/
  min-height: 50px;
  /*width: 100%;*/
  display: flex;
  justify-content: center;
  align-content: center;
	align-items: center;
  /*position: absolute;*/
}
/*END image opacity on hover for preference page*/

.carousel-item-custom {
	padding: 3px 3px;
}

.star-div {
	height: 27px;
	/*width: 270px;*/
	/*display: flex;*/
	justify-content: center;
	align-content: center;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	margin: 0 auto;
	padding-top: 80%;
	display: none;
}

/*progress bar*/ 
.parent_container .progressbar {
	margin-top: 20px;
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
.parent_container .progressbar li {
	list-style-type: none;
	color: #a1a2a3;
	text-align: center; 
	text-transform: uppercase;
	font-size: 14px;
	width: 33.33%;
	float: left;
	position: relative;
}
.parent_container .progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 14px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
.parent_container .progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background-color: #a1a2a3;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
.parent_container .progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps blue*/
/*The number of the step and the connector before it*/
.parent_container .progressbar li.active:before,  #progressbar li.active:after{
	background: #357df2;
	color: white;
}




.parent_container .next-button
{
	float:right;
	border-radius:12px; 
    padding-top: 20px;
	padding-left: 1000px; 
	position: relative;
    width: 100%;
	height: 30px;
	cursor: pointer; 
}
/*
.parent_container .next-button restricted {
	width: 80px;
	border-radius: 8px;
	background-color: #8c8c8c;
	opacity: 0.6;
	cursor: not-allowed;
	color: #FFFFFF;
	height: 30px;
}*/



.parent_container .mainNextbutton
{
	float: right;
    border-radius: 12px;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 250px;
    position: relative;

	
}

.parent_container .safe-button
{
	float:left;
	border-radius:12px; 
    padding-top: 20px;
	padding-left: 1000px; 
	position: relative;
    width: 100%;
   cursor: pointer; 
	
}
/*progress circles*/
#progress_circles {
        display: table;
		padding:0;
		margin:auto;
}


#progress_circles li{
	list-style: none;
	display: inline-block;
        align-content: center;
        font-size-adjust: inherit;
        content: '';
	background: #ccc;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin: auto 10px auto auto;
}
#progress_circles li.active{
	background: #18a6f4;
        border: 2px solid #104aa8;
        width: 16px;
        height: 16px;
        margin-top: 5px;   
}
#progress_circles li.activeStep{
	background: #18a6f4;
        border: 2px solid #104aa8;
        width: 18px;
        height: 18px;
         
}
#progress_circles li.done{
	background: #87ba51;
        border: 1px solid #2e3033;
        width: 16px;
        height: 16px;
        margin-top: 5px;
         
}
#progress_circles li.step{
	background:  #87ba51;
        border: 2px solid #0e7c16;
        width: 18px;
        height: 18px;
         
}
#progress_circles li.stepDisabled{
	background:  #ccc;
        border: 2px solid #2e3033;
        width: 18px;
        height: 18px;
         
}



#pageno
{
	float:left;
	width:35px;
	height:24px;
	background-color:#357df2;
	margin-left: 11.7%;
    margin-top: 6px;
	text-align:center;
}

#pageno span
{
	color:#FFFFFF;
}

.modal-body img
{
	position:relative;
	float:left;
	width: 150px;
    height: 320px;	
}
#footer-container
{
	width: 100%;
	height: 30px;
	/*margin-top: 10px;*/
	/*padding-top: 40px;*/
}

.bghjHX{
	margin: 0 45px!important;
}

.rankHolder
{
	width: 27%;
	/*float: center;*/
	display:block;
	box-align: center;
	margin: 10px auto auto;
	padding-top: 10px;
	
}

.rankHolder span
{
	font-family: "Calibri", Georgia, Serif, serif;
	font-size: 1.6em;
	float: left;
	text-align: center;
	padding-top: 17px;
}

.rankHolder span:nth-child(2)
{
	color: #357df2;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	
}
.rankHolder span:last-child
{
	font-family: "Calibri", Georgia, Serif, serif;
	font-size: 1.6em;
	float: left;
	text-align: center;
	
	color: #62656b;
}

.list-container 
{
	width: 100%;
}

.list-container .left
{
	width:30%;
	float: left;
	padding-top: 5px;
}
.list-container .right
{
	width:30%;
	float: right;
	padding-right: 5px;
	padding-top: 5px;
}

.list-container .card-left
{
	width:35%;
	padding: 88px 0 0;
	float:left;
	display:none
}

.list-container .card-right /* */
{
	width: 35%;
	padding: 88px 0 0;
	float:right;
	display:none
}

button.list-group-item-action:hover/*background color change on hover for movie item */
{
background-color: #f3ba6a; /* !important; */
}

div.card 
{
	background-color: #f3ba6a;
}

.pref-lst {
	list-style-position: inside;
	list-style-type: decimal;
}

#overlay{
	position: fixed;
    display: none;
    width: 30%;
    height: 100%;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
	
/*List Group*/

.text-container
{
	float:left;
	width:60%;
}

.rating {
    float:left;
	align-content: center;
	opacity:1;
}


.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:125%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
	content:'\2605';
}

.rating > input:checked ~ label {
    color: gold;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #f70;
    text-shadow:1px 1px #ea0, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: goldenrod;
    text-shadow:1px 1px #ea0, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
.choice-button {
	background-color: #ccc;
}
.introBorder{
	position: absolute;
    left: -1.5em;
    top: 0;
    width: 82em;
    height: 53px;
    background: inherit;
    background-color: rgba(25, 158, 216, 1);
	border: 0 none;
	border-radius: 0;
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
	overflow:visible; 
	/*float: center; */
}

#survey_section
{
	float:left;
	width:100%;
	padding: 15px;
}

#survey_section table
{	
	float:left;
	width:100%;
	border-top:1px dotted #000000;
	border-left:3px solid #bfbfbf;
	margin: 0 0 25px 0;
}

#survey_section table tr:first-child td
{
	text-align:left;
	font-weight:bold;
}

#survey_section table tr:first-child td span
{
	margin-left:25px;
}

#survey_section table tr:last-child td
{
	cursor:pointer;
}

#survey_section table tr:last-child td:hover
{
	background-color:#F8F2F2;
}


#survey_section table tr td
{
	width:20%;
	height:30px;
	text-align: center;
}

#survey-next-button{
	float: right;
	padding-right: 200px;
}
.carousel-control-prev{
    width: 6%;
    padding-right: 15px;
    padding-left: 5px;
}
.carousel-control-next{
    width: 6%;
    padding-left: 20px;
}
.carousel-control-prev-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2377a' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
width: 50px;
height: 50px;
}

.carousel-control-next-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2377a' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
width: 50px;
height: 50px;
}

#preferenceButton {
	float:right;
	padding-right: 300px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app{
    width:1000px;
    margin:10px auto;
}

.survey-page{
    padding:2rem 1rem;
}

.survey-page .card{
    margin-bottom:30px;
}

.instructions-page .card-total, .chatWindow{
    margin-top:20px;
}

@media (min-width: 576px) {
    .modal-70w {
      max-width: 800px;
      margin: 1.75rem auto;
    }
}

.custom-control-inline {
	display: inline !important;
}

.form-row {
	display: block !important;
}

.form-row > .col{
	padding-top:7px;
}

.radio-margin {
	margin-right: 1em;
}

.button-holder{
    padding-top:30px;
}

.rec-holder {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.movie-card {
    float:left;
    width:20%;
    padding:0 1%;
    font-size:14px;
    color:#3C3C3F;
}

.movieShadow{
    width: 130px;
    height:400px;
    -webkit-box-shadow: 6px 6px 10px -6px rgba(0,0,0,0.55);
    -moz-box-shadow: 6px 6px 10px -6px rgba(0,0,0,0.55);
    box-shadow: 6px 6px 10px -6px rgba(0,0,0,0.55);
    border-radius: 2px;
    margin: 0 auto 10px auto;
}

.movieTitle, .movieRating, .moviePoster{
 text-align: center;
}

.movieTitle{
    border-bottom: 1px solid #D0D0D0;
    padding:10px 0;
    font-size: 10px;
}

.movieDetails {
    font-size: 10px;
    padding:5px;
}

.movieRating img{
    width:20px;
}

.movieRating{
    margin-bottom:10px;
}

.clear-it {
    clear:both;
}

.cap{
    text-transform: capitalize;
}

.movieBtn  .btn{
    text-align: center;
    font-size: 0.85vmax;
}

.movie-options button{
    margin-right: 10px;
}

.bold-ques{
	font-weight: 700;
}

div.box
{
  width:200px;
  height:200px;
  display:inline-block;
  vertical-align:top;
  box-sizing:border-box;
  padding:10px;
  color:#999;
  position:relative;
}

div.box.sample:after
{
    content:"NOT RECOMMENDED";
    position:absolute;
    top:100px;
    left:10px;
    z-index:1;
    font-family:Arial,sans-serif;
    -webkit-transform: rotate(-45deg); /* Safari */
    -moz-transform: rotate(-45deg); /* Firefox */
    -ms-transform: rotate(-45deg); /* IE */
    -o-transform: rotate(-45deg); /* Opera */
    transform: rotate(-45deg);
    font-size:2.5vmax;
    color:#c00;
    background:#fff;
    border:solid 4px #c00;
    padding:5px;
    border-radius:5px;
    zoom:1;
    filter:alpha(opacity=20);
    opacity:0.2;
    -webkit-text-shadow: 0 0 2px #c00;
    text-shadow: 0 0 2px #c00;
    box-shadow: 0 0 2px #c00;
}