body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	-webkit-font-smoothing: antialiased;
}

.App {
	text-align: left;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.header_block {
	width:65%;
	height:180px;
	margin: 15px auto 20px;
	box-shadow: 1px 1px 10px #888888;
    background-color: #ffffff;
	align-content: center;
}

.headerText {
	width:100%;
	padding: 10px;
	float: left;
	text-align: center;
}

.headerText span {
	width:100%;
	font-family: "Calibri", Georgia, Serif, serif;
	font-size: 2em;
	float: left;
	text-align: center;
	letter-spacing: 2px;
}

#introBackground {
    background-color: #eaeaea;
}

.vertical-center {
	min-height: 10%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 10vh;
	display: flex;
	align-items: center;
}

.theContainer {
	float:left;
}

.listContainer {
	float: left;
    z-index: 3;
    display: table-footer-group;
    padding-left: 140px;
    margin: auto;
}

.mainContainer {
	max-width: 1000px;
	margin: auto;
} 

@media (min-width: 576px) {
	.bodyContainer {
		max-width: 530px;
	}
}

.parent_container input[type="radio"] {
	cursor:pointer;
}

.parent_container .mainBody span {
	width: 100%;
	font-family: "Calibri", Georgia, Serif, serif;
    font-size: 2em;
    float: left;
    text-align: left;
	color: black;
	padding: 2em 10px 10px;
}

.parent_container .mainBody span:last-child {
	width: 100%;
	font-family: "Calibri", Georgia, Serif, serif;
    font-size: 1.3em;
    float: left;
    text-align: left;
	color: black;
	padding: 3PX 10px 10px;
}

.parent_container .intro {
	width:100%;
	padding: 10px;
	margin-top: 5px;
	float: left;
	text-align: center;
}

.parent_container .intro span {
	width:100%;
	font-family: "Calibri", Georgia, Serif, serif;
	font-size: 1.5em;
	float: left;
	text-align: center;
	letter-spacing: 2px;
}

.parent_container .intro span:last-child {
	width:100%;
	font-family: "Calibri", Georgia, Serif, serif;
	font-size: 1em;
	float: left;
	text-align: center;
	padding:10px 10px 10px 10px;
	color: #62656b;
	letter-spacing: 5px;	
}

.parent_container .intro .mainQuestion {
	width:100%;
	font-family: "Calibri", Georgia, Serif, serif;
	font-size: 2em;
	float: left;
	text-align: left;
	padding:20px 10px 10px 10px; 
}

#movie_ribbon {
	width:80%;
	margin:auto;
}

#movie_ribbon_choices {
	width: 72%;
	margin: auto; 
}

.parent_container .block_holder {
	width:80em;
	padding:0 7px 7px 7px;
	box-shadow: 1px 1px 10px #888888;
    background-color: #ffffff;
	height:470px;
	margin: auto;
}

.parent_container .survey_block_holder {
	width:80em;
	padding:0 7px 7px 7px;
	box-shadow: 1px 1px 10px #888888;
    background-color: #ffffff;
	height:550px;
	margin: auto;
}

.parent_container .movieHolder {
	float:left;
	width:100em;
	padding:0 7px 7px 7px;
	box-shadow: 1px 1px 10px #888888;
    background-color: #ffffff;
	height:630px;
	margin: auto;
}

.parent_container .prefHolder {
	width:100em;
	padding:0 7px 7px 7px;
	box-shadow: 1px 1px 10px #888888;
    background-color: #ffffff;
	height:250px;
	margin: auto;
}

.parent_container .movie-block {	
	width: 15%;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 30px; 
	cursor: pointer;
	 display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-around;
}

.parent_container .movie-block .wrapper-block {
	float:left;
	width:100%;
}

.parent_container .movie-block .img-block {
	float:left;
	width:100%;
}

.parent_container .movie-block .img-block img {
	width:100%;
	height:180px;
}

.parent_container .movie-block .row_holder {
	margin: auto;
	display: block;
	float:left;
	width:100%;
}

.container:hover .imageTrans {
	opacity: 0.5;
}

.container:hover .middle {
	opacity: 0.9;
}


.star-div {
	height: 27px;
	justify-content: center;
	align-content: center;
	margin: 0 auto;
	padding-top: 50%;
	display: none;
}

.star-div-rated {
	height: 27px;
	justify-content: center;
	align-content: center;
	margin: 0 auto;
	padding-top: 50%;
	display: visible;
}

.container-visited .overlay {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.8;
}

.container-visited .star-div-visited {
	z-index: 2;
	display: flex;
}

/*progress bar*/ 
.parent_container .progressbar {
	margin-top: 20px;
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

.parent_container .progressbar li {
	list-style-type: none;
	color: #a1a2a3;
	text-align: center; 
	text-transform: uppercase;
	font-size: 14px;
	width: 33.33%;
	float: left;
	position: relative;
}

.parent_container .progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 14px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}

/*progressbar connectors*/
.parent_container .progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background-color: #a1a2a3;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}

.parent_container .progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}

/*marking active/completed steps blue*/
/*The number of the step and the connector before it*/
.parent_container .progressbar li.active:before,  #progressbar li.active:after{
	background: #357df2;
	color: white;
}

.parent_container .next-button {
	float:right;
	border-radius:12px; 
    padding-top: 20px;
	padding-left: 1000px; 
	position: relative;
    width: 100%;
	height: 30px;
	cursor: pointer; 
}

.parent_container .mainNextbutton {
	float: right;
    border-radius: 12px;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 250px;
    position: relative;	
}

.parent_container .safe-button {
	float:left;
	border-radius:12px; 
    padding-top: 20px;
	padding-left: 1000px; 
	position: relative;
    width: 100%;
	cursor: pointer; 
}

#footer-container {
	background-color: inherit;
}

.rankHolder {
	width: fit-content;
	margin: 18px auto 18px auto;
}

.rankHolder span {
	font-family: "Calibri", Georgia, Serif, serif;
	font-size: 1.6em;
	text-align: center;
	/* padding-top: 17px; */
}

.rankHolder span:nth-child(2) {
	color: #357df2;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	
}

.rankHolder span:last-child {
	font-family: "Calibri", Georgia, Serif, serif;
	font-size: 1.6em;
	text-align: center;
	
	color: #62656b;
}

.list-group-item {
	/* padding: 1.44em 1.44em; */
	height: 81px;
}

/*background color change on hover for movie item */
.list-group-item:hover {
	cursor: pointer;
	background-color: #f3ba6a;
}

.list-group-item-selected {
	/* padding: 2.0em 1.75em; */
	background-color: #f3ba6a;
}

div.card {
	background-color: #f3ba6a;
}

#overlay {
	position: fixed;
    display: none;
    width: 30%;
    height: 100%;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.app {
    width:1000px;
    margin:10px auto;
}

.survey-page {
    padding:2rem 1rem;
}

.survey-page .card {
    margin-bottom:30px;
}

.instructions-page .card-total, .chatWindow {
    margin-top:20px;
}

@media (min-width: 576px) {
	.modal-70w {
		max-width: 800px;
		margin: 1.75rem auto;
    }
}

.custom-control-inline {
	display: inline !important;
}

.form-row {
	display: block !important;
}

.form-row > .col{
	padding-top:7px;
}

.radio-margin {
	/* margin-right: 1em; */
	margin: auto;
	margin-bottom: 9px;
}

.button-holder {
    padding-top:30px;
}

.rec-holder {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.movie-card {
    float:left;
    width:20%;
    padding:0 1%;
    font-size:14px;
    color:#3C3C3F;
}

.movieShadow {
    width: 130px;
    height:400px;
    -webkit-box-shadow: 6px 6px 10px -6px rgba(0,0,0,0.55);
    -moz-box-shadow: 6px 6px 10px -6px rgba(0,0,0,0.55);
    box-shadow: 6px 6px 10px -6px rgba(0,0,0,0.55);
    border-radius: 2px;
    margin: 0 auto 10px auto;
}

.movieTitle, .movieRating, .moviePoster {
	text-align: center;
}

.movieTitle {
    border-bottom: 1px solid #D0D0D0;
    padding:10px 0;
    font-size: 10px;
}

.movieDetails {
    font-size: 10px;
    padding:5px;
}

.movieRating img {
    width:20px;
}

.movieRating {
    margin-bottom:10px;
}

.clear-it {
    clear:both;
}

.cap {
    text-transform: capitalize;
}

.movieBtn  .btn {
    text-align: center;
    font-size: 0.85vmax;
}

.movie-options button {
    margin-right: 10px;
}

.bold-ques {
	font-weight: 700;
}

div.box {
	width:200px;
	height:200px;
	display:inline-block;
	vertical-align:top;
	box-sizing:border-box;
	padding:10px;
	color:#999;
	position:relative;
}

div.box.sample:after {
    content:"NOT RECOMMENDED";
    position:absolute;
    top:100px;
    left:10px;
    z-index:1;
    font-size:2.5vmax;
    color:#c00;
    background:#fff;
    border:solid 4px #c00;
    padding:5px;
    border-radius:5px;
    zoom:1;
    filter:alpha(opacity=20);
    opacity:0.2;
    text-shadow: 0 0 2px #c00;
    font-family:Arial,sans-serif;
    box-shadow: 0 0 2px #c00;
    -webkit-text-shadow: 0 0 2px #c00;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); /* Safari */
    -moz-transform: rotate(-45deg); /* Firefox */
    -ms-transform: rotate(-45deg); /* IE */
    -o-transform: rotate(-45deg); /* Opera */
}

.survey-highlight {
	color: red;
	font-weight: bold;
}

.survey-question-block {
	padding: 3px 9px 0 9px;
    border-top-width: 1px;
    border-top-style: dotted;
    border-left: black;
    border-left-width: 3px;
    border-left-color: darkgray;
    border-left-style: solid;
	margin: 0 auto 9px auto;
    border-right-width: 3px;
    border-right-color: darkgray;
    border-right-style: solid;
    width: 720px;
}

.survey-question-block:first-child {
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: darkgray;
}

.survey-question-block:last-child {
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: darkgray;
	margin-bottom: 0;
}

.surveyQuestion {
	margin: 9px 0 9px 18px;
}

.movieSurvey.surveyQuestion {
	margin: 9px 0 9px 3px;
}

.checkboxgroup {
	display: inline-block;
	text-align: center;
}

.checkboxGroup{
	margin: 0 0 9px 18px;
}

.movieSurvey.checkboxGroup {
	margin: 0 0 9px 9px;
}

.checkboxgroup label {
	display: block;
	font-size: small;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-template-rows: auto auto auto;
	justify-items: stretch;
	overflow-x: hidden;
	grid-column-gap: 0.25em;
	grid-row-gap: 0.25em;
	border-radius: 0.5em;
}

.grid-item {
	position: relative;
    background-size: contain;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 1.0);
	width: 180px;
	text-align: center;
	height: 216px;
}

.movieSurvey.grid-item {
	width: 172px;
}

.grid-item:hover .overlay {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.8;
}

.grid-item:hover .star-div {
	z-index: 2;
	display: flex;
}

.checkboxBtn {
	cursor: pointer;
    display: inline-grid;
    padding: 3px;
	background-color: #c9cccf;
	margin: 3px 9px 9px 9px;
	border-radius: 3px;
}

.movieSurvey.checkboxBtn{
	padding: 0;
	margin: 0 0 0 3px;
}

.checkboxBtn input[type="radio"] {
    
	/*-ms-transform: scale(1.4); /* IE 9 */
    /*-webkit-transform: scale(1.4); /* Chrome, Safari, Opera */
    /*transform: scale(1.4);*/
	visibility: hidden;
	width: 0;
	height: 0;
}

.checkboxBtn:hover {
	background-color: #55AA55;
}

.checkboxLbl {
    height: 36px;
    width: 108px;
    text-align: center;
	margin-top: 18px;
}

.movieSurvey.checkboxLbl {
	height: 9px;
    width: 99px;
	margin-bottom: 3px;
	margin-top: 3px;
}

/* Bootstrap Overrides and add-ons */
@media (min-width: 576px){
	.jumbotron {
		padding: 1.5em 1.5rem !important;
	}
}

.jumbotron {
	padding: 1em 1rem;
	margin-bottom: 0.5rem;
	background-color: #e9ecef;
	border-radius: 0.3rem;
}

.btn-primary :disabled {
	background-color: #62656b;
}

.pb_visible {
	opacity: 1.0;
}

.pb_invisible {
	opacity: 0.0;
}

.grid-item-label {
	/* background-color: #357df2; */
	background-color: black;
	color: white;
	opacity: 0.8;
	font-size: 13px;
	bottom: 0;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	min-height: 50px;
	display: flex;
	z-index: 10;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.jumbotron-footer {
	float: right;
	width: 100%;
	margin-top: 0.5em;
}

.footer-btn {
	float: right;
}

.RSPBprogressBar{
	z-index: 2048 !important;
}

.RSPBprogressBar .RSPBstep {
	z-index: 2049 !important;
}